@model IEnumerable<BusService.Models.RouteStop>

@{
    ViewData["Title"] = "Route Stop for "+ ViewData["BusRouteCode"]+" - "+ ViewData["BusRouteName"];
}

    <h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OffsetMinutes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusStopNumberNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BusStopNumberNavigation.Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OffsetMinutes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusStopNumberNavigation.BusStopNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BusStopNumberNavigation.Location)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RouteStopId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RouteStopId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RouteStopId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
